<script lang="ts">
import { startOfMonth, lastDayOfMonth, getDay, subDays, addDays, isToday, isWeekend, format, isAfter, isBefore, startOfDay, endOfDay } from 'date-fns'
import { uk, enUS } from 'date-fns/locale';
import { chunk } from 'lodash/array';
import { start } from 'repl';
 
interface WeekdayNamesProp {
  key: string;
  label: string;
  classes?: string[];
}

interface EventProp {
  name: string;
  start: Date;
  end?: Date;
  class?: string;
}

export default {
  ssr: false,
  setup(props, context) {
    const updateValue = (event) => {
      context.emit('update:modelValue', event.target.value);
    }

    return { updateValue }
  },
  props: {
    locale: {
      type: String,
      default: 'uk'
    },
    modelValue: {
      type: Date,
    },
    weekdayNames: {
      type: Array<WeekdayNamesProp>,
      default: [],
    },
    events: {
      type: Array<EventProp>,
      default: [],
    }
  },
  emits: ['update:modelValue', 'eventClick'],
  data() {
    return {
      internalWeekdayNames: [
        { key: 'monday', label: 'Monday', classes: ['monday'] },
        { key: 'tuesday', label: 'Tuesday', classes: ['tuesday'] },
        { key: 'wednesday', label: 'Wednesday', classes: ['wednesday'] },
        { key: 'thursday', label: 'Thursday', classes: ['thursday'] },
        { key: 'friday', label: 'Friday', classes: ['friday'] },
        { key: 'saturday', label: 'Saturday', classes: ['saturday'] },
        { key: 'sunday', label: 'Sunday', classes: ['sunday'] },
      ],
    }
  },
  computed: {
    currentDate(): Date {
      return this.modelValue;
    },

    firstDayOfMonth() {
      return startOfMonth(this.modelValue);
    },

    lastDayOfMonth() {
      return lastDayOfMonth(this.modelValue);
    },

    weekdayHeads() {
      return this.internalWeekdayNames.map(weekday => {
        const newWeekdayName = this.weekdayNames.find(weekdayName => weekdayName.key == weekday.key);
        if (newWeekdayName) {
          return {
            ...weekday,
            label: newWeekdayName.label,
            classes: weekday.classes?.concat(newWeekdayName.classes || []),
          }
        }

        return weekday;
      });
    },

    weeks() {
      return this.builderWeeks();
    }
  },
  mounted() {
    this.builderWeeks();
  },
  methods: {
    format,

    getDateFnsLocale() {
      switch (this.locale) {
        case 'uk':
          return uk;
        default:
          return enUS;
      }
    },

    isCheckToday(date: Date): boolean {
      return isToday(date);
    },

    isCheckWeekday(date: Date): boolean {
      return isWeekend(date);
    },

    isCheckLastMonth(date: Date): boolean {
      return date.getMonth() != this.currentDate.getMonth();
    },

    getEventsByDay(dateDay: Date): EventProp[] {
      const unixtime = (date: Date) => Math.round(date.getTime() / 1000);

      const startDayTime = unixtime(startOfDay(dateDay));
      const endDayTime = unixtime(endOfDay(dateDay));

      return this.events.filter(event => {
        const eventTimeStart = unixtime(startOfDay(event.start));
        const eventTimeEnd = unixtime(endOfDay(event.end));
      
        return eventTimeStart <= startDayTime && eventTimeEnd >= endDayTime;
      })
    },

    eventClick(event: EventProp) {
      this.$emit('eventClick', event);
    },

    builderWeeks() {

      const weeks = [];
      const dayOfWeek = getDay(this.firstDayOfMonth);
      if (dayOfWeek > 0) {
        for (let prevDay = dayOfWeek - 1; 0 < prevDay; prevDay--) {
          weeks.push(subDays(this.firstDayOfMonth, prevDay));
        }
      }

      const days = this.lastDayOfMonth.getDate();
      for (let day = 0; day < days; day++) {
        weeks.push(addDays(this.firstDayOfMonth, day));
      }


      if (weeks.length < 34) {
        const leftDays = 34 - weeks.length;
        for (let day = 1; day <= leftDays + 1; day++) {
          weeks.push(addDays(this.lastDayOfMonth, day));
        }
      }

      return chunk(weeks, 7);
    }
  }
}
</script>

<template>
  <div class="my-calendar">

    <div class="my-calendar-weekly__head">
      <template v-for="(dayOfWeek, index) in weekdayHeads">
        <slot :index="dayOfWeek.key" :label="dayOfWeek.label" name="dayHeader">
          <div :key="index" :class="dayOfWeek.classes" class="my-calendar-weekly__head-weekday">
            {{ dayOfWeek.label }}
          </div>
        </slot>
      </template>
    </div>

    <template v-for="daysOfWeek in weeks">
      <div class="my-calendar-weekly__week">
        <div class="my-calendar-weekly__day" :class="{
          'my-calendar-present': isCheckToday(day),
          'my-calendar-weekday': isCheckWeekday(day),
          'my-calendar-past': isCheckLastMonth(day),
        }" v-for="day, indexDay in daysOfWeek" :key="day">
          
          <div 
            class="my-calendar-weekly__day-label" 
            v-if="(day.getDate() == 1 || indexDay == 0) && day.getMonth() != currentDate.getMonth()"
          >
            {{ format(day, 'MMMM', { locale: getDateFnsLocale() }) }} {{ day.getDate() }}
          </div>
          <div class="my-calendar-weekly__day-label" v-else>
            {{ day.getDate() }}
          </div>

          <div 
            class="my-event"
            v-for="event in getEventsByDay(day)"
            :class="{
              [event.class]: true
            }"
            @click="() => eventClick(event)"
          >
            <div class="my-event-summary">
              {{ event.name }}
            </div>
          </div>

        </div>
      </div>
    </template>

  </div>
</template>
