
.my-calendar {
  padding: 10px 20px;

  &-weekly__head {
    display: flex;
    border-bottom: 1px solid #dbdbdb;

    &-weekday {
      flex: 1 0 20px;
      padding: 0 4px;
      font-size: 14px;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 5px;
      color: #a09c9c;
      font-weight: bold;
    }
  }

  &-weekly {
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
   
    &__week {
      display: flex;
      flex: 1;
      height: unset;
      min-height: 0;
    }
    
    &__day  {
      border-right: 1px solid #e3e2dc;
      border-left: 1px solid #e3e2dc;
      border-bottom: 1px solid #e3e2dc;
      color: #000;
      flex: 1;
      width: 0;
      overflow: hidden;
      position: relative;
      padding: 0;
      min-width: 0;
      margin-right: -1px;

      min-height: 80px;

      &-label {
        font-size: 15px;
        color: #454045;
        text-align: center;
        cursor: pointer;
        text-align: center;
        margin: 4px 0 0;
      }
    }
  }

  .my-event {
    border-radius: 4px;
    height: 20px;
    background-color: #00bcd4;
    border-color: #00bcd4;
    color: #fff;
    cursor: pointer;
    margin-bottom: 5px;

    &-summary {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap;
      padding-left: 5px;
    }
  }

  &-present {
    background-color: #f4f4f4;
  }

  &-weekday {
    background-color: #faf8f8;
  }

  &-past {
    background-color: #f7f7f7;
    &:not(:first-child) {
      border-left: none;
    }
  }
}