<script lang="ts">
export default {
  data () {
    return {
      drawer: true,
    }
  }
}
</script>

<template>
	<v-app id="inspire">
    <v-navigation-drawer 
      v-model="drawer"
			width="220"
    >
      <v-list density="compact">
        <v-list-item link to="/">
          <template v-slot:prepend>
            <v-icon icon="fa-solid fa-house"></v-icon>
          </template>
          <v-list-item-title>Home page</v-list-item-title>
        </v-list-item>
        <v-list-item link to="/calendar">
          <template v-slot:prepend>
            <v-icon icon="fa-solid fa-calendar"></v-icon>
          </template>
          <v-list-item-title>My calendar</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    
    <v-app-bar>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Your personal calendar</v-toolbar-title>
    </v-app-bar>

    <v-main>
      <slot />
    </v-main>
  </v-app>
</template>
