<script lang="ts">
import { addHours, addMonths, format, subMonths } from 'date-fns';
import { uk } from 'date-fns/locale'
import VueDatePicker from '@vuepic/vue-datepicker';
import { utcToZonedTime } from 'date-fns-tz';
import { getFormatDateTimezone } from '@/helpers/datetime.helper';

export default {
  components: {
    VueDatePicker
  },
  data() {
    return {
      currentDate: new Date(),
      eventDialog: {
        show: false,
        newEvent: false, 
        form: {
          name: '',
          start: new Date(),
          end: addHours(new Date(), 2), 
          dateRange: [
            new Date(),
            addHours(new Date(), 2), 
          ]
        },
      },
      events: [
        { 
          name: 'Company Event',
          start: new Date(2023, 2, 26, 14), 
          end: new Date(2023, 2, 26, 15),
        },
      ]
    }
  },
  computed: {
    selectedDate() {
      return format(this.currentDate, 'MMMM uuuu р.', { locale: uk });
    }
  },
  methods: {
    format,
    utcToZonedTime,
    getFormatDateTimezone,

    prevMonth() {
      this.currentDate = subMonths(this.currentDate, 1);
    },
    nextMonth() {
      this.currentDate = addMonths(this.currentDate, 1);
    },
    today() {
      this.currentDate = new Date();
    },
    eventClick(event) {
      this.eventDialog.event = event;

      this.eventDialog.form.name = event.name;
      this.eventDialog.form.start = event.start;
      this.eventDialog.form.end = event.end;
      this.eventDialog.form.range = [
        event.start,
        event.end
      ];

      this.eventDialog.show = true;
      this.eventDialog.newEvent = false;
    },
    
    openCreateEventDialog() {
      this.eventDialog.form.name = '';

      this.eventDialog.newEvent = true;
      this.eventDialog.show = true;
    },

    createEvent() {
      const form = this.eventDialog.form;

      if (!form.name || form.dateRange.length != 2) {
        return;
      }
      this.eventDialog.show = false;

      console.log('form.dateRange',form.dateRange);
      
      this.events.push({
        name: form.name,
        start: form.dateRange[0],
        end: form.dateRange[1],
      });

      this.eventDialog.form.name = '';
      this.eventDialog.form.range = [
        new Date(),
        addHours(new Date(), 2), 
      ];
    }
  }
}
</script>

<template>
  <div class="pa-5">
    <div class="d-flex align-center justify-space-between">
      <div>
        <h2>{{ selectedDate }}</h2>
      </div>
      <div>
        <v-btn color="primary" class="ma-2" @click="openCreateEventDialog">
          <v-icon icon="fa-solid fa-plus"></v-icon>
          Create event
        </v-btn>

        <v-btn class="ma-2" flat @click="prevMonth">
          <v-icon icon="fa-solid fa-arrow-left"></v-icon>
          <span class="pl-2">Prev</span>
        </v-btn>
        <v-btn class="ma-2" flat @click="today">
          Today
        </v-btn>
        <v-btn class="ma-2" flat @click="nextMonth">
          <span class="pr-2">Next</span>
          <v-icon icon="fa-solid fa-arrow-right"></v-icon>
        </v-btn>
      </div>
    </div>
    
    <div class="mt-5">
      <my-calendar
        v-model="currentDate"
        locale="ua"
        :weekday-names="[
          { key: 'monday',    label: 'пн' },
          { key: 'tuesday',   label: 'вт' },
          { key: 'wednesday', label: 'ср' },
          { key: 'thursday',  label: 'чт' },
          { key: 'friday',    label: 'пт' },
          { key: 'saturday',  label: 'сб' },
          { key: 'sunday',    label: 'нд' },
        ]"
        :events="events"
        @eventClick="eventClick"
      ></my-calendar>
    </div>

    <v-dialog
      v-model="eventDialog.show"
      max-width="600px"
      class="event-dialog"
    >
      <v-card>
        <v-card-title>
          Event
        </v-card-title>
        <v-card-text>
          <div>
            
            <v-text-field
              label="Name event"
              hide-details="auto"
              v-model="eventDialog.form.name"
              class="mb-5"
              :disabled="!eventDialog.newEvent"
            ></v-text-field>

            <div  class="mt-5">
              <label for="">Date range</label>
              <VueDatePicker 
                :min-date="new Date()" 
                v-model="this.eventDialog.form.dateRange" 
                range 
                :disabled="!eventDialog.newEvent"
              />
            </div>

            <div class="mt-2" v-if="!eventDialog.newEvent">
              <div>
                Your timezone: 
                {{ getFormatDateTimezone(eventDialog.form.start) }} -  {{ getFormatDateTimezone(eventDialog.form.end) }}
              </div>
              <div>
                London timezone: 
                {{ getFormatDateTimezone(eventDialog.form.start, 'Europe/London') }} -  {{ getFormatDateTimezone(eventDialog.form.end, 'Europe/London') }}
              </div>
            </div>
          </div>
          <div class="mt-2">
            <v-btn @click="() => this.eventDialog.show = false">Close</v-btn>
            <v-btn 
              class="ml-2"
              color="primary" 
              v-if="eventDialog.newEvent" 
              @click="createEvent"
            >Create</v-btn>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>


  </div>
</template>

<style lang="scss"> 
.calendar-page {

  .calendar-head {
    display: flex;
  }

}
</style>