<script lang="ts">
export default {
  methods: {
    openUrl() {
      window.open('https://gitlab.com/kaptemn/my-calendar', '_target');
    }
  }
}
</script>

<template>
  <div class="home">
    <div class="title">Hi, how are you?</div>
    <div>
      <v-btn class="mt-2" to="/calendar" color="primary">Open Calendar</v-btn>
    </div>
    <div class="mt-5">
      The project repository: 
      <br>
      <v-btn class="mt-2" @click="openUrl" flat color="primary">
        Open repository
      </v-btn>
    </div>
  </div>
</template>

<style lang="scss">
.home {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  .title {
    font-size: 24px;
  }
}
</style>
